.git
.gitignore

**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/

.env
.env.*
!apps/backend/.env.example

.vscode/
.idea/

logs/
**/*.log

artifacts/
data/

mlruns/
mlartifacts/
**/mlflow.db

apps/frontend/

**/*.pt
**/*.pth
**/*.onnx